h1{
  color:khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  text-align: center;
  display: block;
  font-weight: bold;
}

div {
  display: block;
}

h1, h2, h3, p {
    font-family: Helvetica;
  }

  #brush {
    background-color: MediumSpringGreen;
  }

  .item h2 {
    color: white;
    font-size: 32px;
}
h2{
  display:block;
  font-weight:bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.price {
    color: Blue;
    font-weight: bold;
}

#frame{
  background-color: LightCoral;
}

#paint{
  background-color: SkyBlue;
}
